<br><br>
<h2 style="font-family:Comic Sans MS;">Brewery: <%= @blog.brewery %></h2>
<p style="font-family:Comic Sans MS;">Beer Name: <%= @blog.title %></p>
<p style="font-family:Comic Sans MS;">Type of Beer: <%= @blog.style %></p>

<section>
  <h2>Beer Log</h2>
  <p style="font-family:Comic Sans MS;"><%= @blog.body %></p>
</section>

<a href="/blogs/<%= @blog.id %>/edit">Edit Blog</a><br><br> 

<form action="/blogs/<%= @blog.id %>" method="post">
  	<input type="hidden" name="_method" value="delete" />
  
  	<input type="submit" value="Delete">
  </form> 

